@page
@namespace Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>AZ-204 Lab01 (by dCruzCoding)</title>
            <style>
        .spoiler-content {
            display: none;
        }
    </style>
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Galería de fotos <b><i>foodies</i></b></span>
    </nav>
    <div class="mx-5 mb-5">
        <div class="card">
            <div class="card-header text-dark">
                Cargar una nueva imagen
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" asp-for="Upload">
                        <label class="custom-file-label">Elige la imagen</label>
                    </div>
                    <button type="submit" class="btn btn-secondary">Cargar</button>
                </form>
            </div>
        </div>
         <br><br> <br><br> <br><br>
     <h1 class="display-4">
        Imagenes FOODIES
        <div style="font-weight: bold; color:rgb(129, 33, 33); font-size: 1.5rem;">
            (¡OJO! No se recomienda ver si se está hambriento)
        </div>
    </h1><br><br>
    <button id="spoilerButton" class="btn btn-warning">He leído la advertencia y aun así quiero visualizarlas</button>
        <div id="spoilerContent" class="spoiler-content">
        @if (Model.ImageList.Count > 0)
        {
            <div class="card-columns">
                @foreach (string imageUrl in Model.ImageList)
                {
                    <div class="card">
                        <img src="@imageUrl" class="img-fluid" />
                    </div>
                }
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No se encontraron imágenes
            </div>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <script>
        document.getElementById('spoilerButton').addEventListener('click', function() {
            var spoilerContent = document.getElementById('spoilerContent');
            if (spoilerContent.style.display === 'none' || spoilerContent.style.display === '') {
                spoilerContent.style.display = 'block';
                this.style.display = 'none';
            }
        });
    </script>
</body>
</html>